certifi==2026.4.22
    # via requests
charset-normalizer==3.4.7
    # via requests
idna==3.13
    # via requests
python-dotenv==1.2.2
    # via ksc-tools
requests==2.33.1
    # via ksc-tools
urllib3==2.7.0
    # via requests
xlsxwriter==3.2.9
    # via ksc-tools
