certifi==2026.5.20
    # via requests
charset-normalizer==3.4.7
    # via requests
idna==3.17
    # via requests
python-dotenv==1.2.2
    # via ksc-tools
requests==2.34.2
    # via ksc-tools
urllib3==2.7.0
    # via requests
xlsxwriter==3.2.9
    # via ksc-tools
